* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}
nav {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
nav a {
  text-decoration: none;
  font-size: 12px;
  color: #4d5868;
  border: 1px solid #edf0f5;
  background-color: #edf0f5;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 2px;
  cursor: pointer;
}
nav a:hover {
  color: #da0b4e;
}
nav a.active {
  background-color: #da0b4e;
  color: #ffffff;
}
.tab-contant {
  display: none;
  margin: 20px;
}
.tab-contant.show {
  display: block;
}
.faqbox {
  margin: 15px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.faqbox a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #edf0f5;
  color: #000000;
  display: block;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
.faqbox a:hover {
  color: #da0b4e;
}
.faqbox div {
  color: #4d5868;
  padding: 20px 10px;
  display: none;
}
.faqbox div.show {
  display: block;
}
